@font-face {
    font-family: 'iconSet';
    src: url(iconSet/fonts/iconSet.ttf?-cjrruj) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.iconSet {
    font-family: "iconSet", "verdana";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}